# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a currupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

#  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [4]:
# It appears that one of the rows of the dataset was turned vertically and joined to the rest
# Will need to isolate that row of values, transform it, and add it back
# Vertical dataset was missing the last column percent public assistance total
# Vertical dataset was an average/summary of the other data rows
# The COUNT GENDER UNKNOWN column was all zeros, as was PERCENT GENDER UNKNOWN, dropped for clarity
# The COUNT GENDER TOTAL was always the same as the COUNT PARTICIPANTS, dropped
# the PERCENT GENDER/CITIZEN TOTAL and PERCENT PUBLIC ASSISTANCE TOTAL were not useful, dropped
# the COUNT PUBLIC ASSISTANCE UNKNOWN and PERCENT PUBLIC ASSISTANCE UNKNOWN were all zeroes, dropped
# COUNT CITIZEN STATUS TOTAL was same as COUNT PARTICIPANTS, dropped
import pandas as pd
pd.set_option('display.max_columns', 500)
df_clean = pd.read_excel('Data/Zipcode_Demos.xlsx', header=48)
df_other = pd.read_excel('Data/Zipcode_Demos.xlsx', skiprows=2,nrows=45,usecols=1,index_col=0).transpose()
df_combo = df_clean.append(df_other, sort=False)
df_cleaner = df_combo.drop(columns = ['COUNT GENDER UNKNOWN',
                                      'PERCENT GENDER UNKNOWN',
                                      'COUNT GENDER TOTAL',
                                      'PERCENT GENDER TOTAL',
                                      'COUNT CITIZEN STATUS TOTAL',
                                      'PERCENT CITIZEN STATUS TOTAL',
                                      'COUNT PUBLIC ASSISTANCE UNKNOWN',
                                      'PERCENT PUBLIC ASSISTANCE UNKNOWN',
                                      'COUNT PUBLIC ASSISTANCE TOTAL',
                                      'PERCENT PUBLIC ASSISTANCE TOTAL'])
#These columns were all zeros, but might be useful if other data were included later
df_cleaner = df_cleaner.drop(columns = ['COUNT PACIFIC ISLANDER',
                                        'PERCENT PACIFIC ISLANDER',
                                        'COUNT AMERICAN INDIAN',
                                        'PERCENT AMERICAN INDIAN',
                                        'COUNT ETHNICITY UNKNOWN',
                                        'PERCENT ETHNICITY UNKNOWN',
                                        'COUNT ETHNICITY TOTAL',
                                        'PERCENT ETHNICITY TOTAL',
                                        'COUNT OTHER CITIZEN STATUS',
                                        'PERCENT OTHER CITIZEN STATUS',
                                        'COUNT CITIZEN STATUS UNKNOWN',
                                        'PERCENT CITIZEN STATUS UNKNOWN'])
#The 4th and 9th row had information for zero people, so they were removed
df_cleaner = df_cleaner.drop(index = [3,8])
df_cleaner.reset_index(drop=True,inplace=True)
df_cleaner

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT HISPANIC LATINO,PERCENT HISPANIC LATINO,COUNT ASIAN NON HISPANIC,PERCENT ASIAN NON HISPANIC,COUNT WHITE NON HISPANIC,PERCENT WHITE NON HISPANIC,COUNT BLACK NON HISPANIC,PERCENT BLACK NON HISPANIC,COUNT OTHER ETHNICITY,PERCENT OTHER ETHNICITY,COUNT PERMANENT RESIDENT ALIEN,PERCENT PERMANENT RESIDENT ALIEN,COUNT US CITIZEN,PERCENT US CITIZEN,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE
0,10001.0,44.0,22.0,0.500,22.0,0.500,16.0,0.360,3.0,0.070,1.0,0.020,21.0,0.480,3.0,0.07,2.0,0.050,42.0,0.950,20.0,0.450,24.0,0.550
1,10002.0,35.0,19.0,0.540,16.0,0.460,1.0,0.030,28.0,0.800,6.0,0.170,0.0,0.000,0.0,0.00,2.0,0.060,33.0,0.940,2.0,0.060,33.0,0.940
2,10003.0,1.0,1.0,1.000,0.0,0.000,0.0,0.000,1.0,1.000,0.0,0.000,0.0,0.000,0.0,0.00,0.0,0.000,1.0,1.000,0.0,0.000,1.0,1.000
3,10005.0,2.0,2.0,1.000,0.0,0.000,0.0,0.000,1.0,0.500,0.0,0.000,1.0,0.500,0.0,0.00,1.0,0.500,1.0,0.500,0.0,0.000,2.0,1.000
4,10006.0,6.0,2.0,0.330,4.0,0.670,2.0,0.330,0.0,0.000,1.0,0.170,3.0,0.500,0.0,0.00,0.0,0.000,6.0,1.000,0.0,0.000,6.0,1.000
5,10007.0,1.0,0.0,0.000,1.0,1.000,0.0,0.000,1.0,1.000,0.0,0.000,0.0,0.000,0.0,0.00,0.0,0.000,1.0,1.000,1.0,1.000,0.0,0.000
6,10009.0,2.0,0.0,0.000,2.0,1.000,0.0,0.000,2.0,1.000,0.0,0.000,0.0,0.000,0.0,0.00,0.0,0.000,2.0,1.000,0.0,0.000,2.0,1.000
7,10011.0,3.0,2.0,0.670,1.0,0.330,1.0,0.330,0.0,0.000,0.0,0.000,1.0,0.330,1.0,0.33,0.0,0.000,3.0,1.000,0.0,0.000,3.0,1.000
8,10005.8,9.4,4.8,0.404,4.6,0.396,2.0,0.105,3.6,0.437,0.8,0.036,2.6,0.181,0.4,0.04,0.5,0.061,8.9,0.739,2.3,0.151,7.1,0.649

## Level Up (Optional)

### Loading Corrupt CSV files

Occassionally, you encountered some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is suppossed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restuarant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restuarant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [5]:
#Hint: here's a useful programming pattern to use.
try:
    corrupt_df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')
except Exception as e:
    print(e)

Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

In [9]:
for i in range(1500,2000):
    try:
        corrupt_df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i)
    except:
        print(f'Failure at: {i}')
        break
df_fix = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i-1)

Failure at: 1962

In [10]:
print(len(df_fix))

1961

In [11]:
df_fix.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0.0,dDl8zu1vWPdKGihJrwQbpw,5.0,I love this place! My fiance And I go here atl...,0.0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1.0,LZp4UX5zK3e-c5ZGSeo3kA,1.0,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0.0,jsDu6QEJHbwP2Blom1PLCA,5.0,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0.0,pfavA0hr3nyqO61oupj-lA,1.0,This place sucks. The customer service is horr...,2.0,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0.0,STiFMww2z31siPY7BWNC2g,5.0,I have been an Emerald Club member for a numbe...,0.0,TlvV-xJhmh7LCwJYXkV-cg